.hole {
    background-color: var(--color-pre);
    padding: var(--length-padding);
    margin: var(--length-gap) 0;
    border-radius: var(--length-padding);
    overflow-x: hidden;
}

.hole.ref>.index::before {
    content: "> ";
}

.hole.new-comment>.index>.id {
    color: var(--color-variable);
}

.hole.new-hole>.index>.id {
    color: var(--color-string);
}

.hole.updated>.index>.id {
    text-decoration: underline;
}

.hole.hidden>.index>.id {
    text-decoration: line-through;
}

.hole.refreshing {
    filter: brightness(.5);
}

.hole>:empty:not(.checkbox) {
    display: none !important;
}

.index {
    font-size: var(--length-font-log);
    white-space: pre-wrap;
    color: var(--color-light);
    overflow-x: auto;
}

.text {
    white-space: pre-wrap;
    word-break: break-all;
    overflow-wrap: anywhere;
    line-break: anywhere;
    overflow-x: auto;
}

.audio {
    display: inline-block;
    margin: 0 var(--length-gap);
}

.comments .name.checkbox {
    line-height: inherit;
    padding: 0;
    border-radius: 0;
    white-space: pre;
}

.more {
    cursor: pointer;
    text-align: center;
    color: var(--color-light);
    padding: var(--length-padding-span);
}